<div class="section">

    <div class="container">

        <div class="row">
          
            <div class="col-lg-12 ">
                <img src="~/img/img2.jpg" class="img-responsive" style="max-height: 30vw; width: fit-content;"/>
                <h1 class="align-center">Misyonumuz</h1>
                <p>
                    Tecrübeli ekibimiz ile faaliyet gösterdiğimiz her sektörde güvenilirliğimizi, kalitemizi ve dinamik hizmet anlayışımızı devam ettirmek.
                </p>
                <h1 class="align-center">Vizyonumuz</h1>
                <p>
                    Yenilikçi, akılcı, ilkeli ve sorumlu yaklaşımımızla hedef sektörlerin her birinde benzersiz ve dinamik bir kuruluş olarak lider firma olmayı amaçlıyoruz.
                </p>
            </div>
        </div><!-- /.row -->

    </div><!-- /.container -->

</div><!-- /.section -->