@model IEnumerable<are_den.Models.ProjectModel>

@{
    ViewBag.Title = "Index";
}

<h1 >Projelerimiz</h1>
<hr style="color:black" />
@{ 
    var i = 0;
}
<div class="row" style="margin:0">
    @foreach (var item in Model)
    {

        if (i>0 && i%3 ==0)
        {
        @:</div><div class="row">
        }
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail ">
                <img src="~/img/@Html.DisplayFor(modelItem =>item.ProjectImage)">
                <div class="caption">
                    <h3>  @Html.DisplayFor(modelItem => item.ProjectName)</h3>
                    <p>...</p>
                    <p>
                    @Html.ActionLink("Detay", "Details", "Project", new {id = item.Id }, new { @class="btn btn-primary"})
                   </p>
                </div>
            </div>
        </div>


        i++;
    }
</div>


